/*
CSS3 Transition Mixin
@author Benjamin "balupton" Lupton {@link http://www.balupton.com}
@version 1.0, April 25 2010
*/

=transition($trans) {
	-webkit-transition: $trans;
	-moz-transition: $trans;
	-o-transition: $trans;
	transition: $trans;
}